
/* ___ Primary ___ */
$white : #FCFAF9;
$black : #261d18;
/* ___ Neutral ___ */
$smooth-brown : #c48f53;

/* __ For Glassmorphism __ */
$gm-background : rgba( 139, 87, 42, 0.45 );
$gm-shadow : rgba( 31, 38, 135, 0.37 );
$gm-border : rgba( 255, 255, 255, 0.18 )


