@import '../util/colors.scss';
@import '../util/fonts.scss';
@import '../util/breakpoint.scss';

form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow: hidden;
    box-sizing: border-box;

    @include breakpoint(small){
        width: 90%;
        max-width: 50rem;
    }

    // Glassmorphism //
    background: $gm-background;
    box-shadow: 0 8px 32px 0 $gm-shadow;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1rem;
    border: 1px solid $smooth-brown;

    &_top{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        background-color: $smooth-brown;
        border-radius: 1rem 1rem 0 0;
        @include breakpoint(small){
            flex-direction: row;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    &_middle{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        @include breakpoint(small){
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        @include breakpoint(large){
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    &_bottom{
        width: 100%;
        padding: 1rem;
        background-color: $smooth-brown;
        border-radius: 0 0 1rem 1rem;
    }
}

.avatar_frame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-input{
    display: none;
    width: 10rem;
    height: 10rem;
    border: 1px solid #000;
    background-color: #000;
}
.avatar-circle{
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-image: url("../../images/avatar_01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $black;
    color: $smooth-brown;
    :hover{
        background-image: url("../../images/camera-solid.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: rgba($color: $black, $alpha: 0.4);
    }
}
.for_hover_avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.identity_frame{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_text_frame{
    width: 100%;
    max-width: 25rem;
    padding-bottom: 3rem;
}

.input_text{
    display: block;
    width: 100%;
    max-width: 25rem;
    height: 2rem;
    font-family: $font;
    color: $black;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border: none;
}

// Error class
.shadow_red{
    box-shadow: 0px 0px 15px 2px #FF0000;
}
.input_text_error{
    position: absolute;
    padding-top: 0.5rem;
    left: 50%;
    transform: translateX(-50%) ;
    @include breakpoint(small){
        left: auto;
    }
}
.input_num_error{
    position: absolute;
    padding-top: 0.5rem;
    left: 50%;
    transform: translateX(-50%) ;
    @include breakpoint(small){
        left: auto;
    }
    @include breakpoint(medium){
        max-width: 8rem;
    }
}
// FIN Error class

.datas_num{
    width: 100%;
    @include breakpoint(medium){
        display: flex;
        justify-content: space-around;
    }
}
.input_num_frame{
    padding-bottom: 4rem;
}
.label_num{
    display: block;
}
.input_num{
    width:3rem;
    height: 2rem;
    font-family: $font;
    color: $white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $white;
    background: none;
    text-align: center;
}
.unity{
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

// 
.datas_others{
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include breakpoint(medium){
        width: 100%;
    }
}

.div_obj{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: start;
    @include breakpoint(medium){
        display: flex;
        justify-content: space-around;
    }
}
.div_obj_50{
    @include breakpoint(medium){
        width: 50%;
        max-width: 25rem;
    }
}
.check_group{
    margin-top: 1rem;
}
.radio_margin{
    margin-right: 1rem;
}

// INTOLERANCES
.list_intolerance{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: start;
    @include breakpoint(medium){
        display: flex;
        justify-content: space-around;
    }
}

.autres_intolerances{
    @include breakpoint(medium){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        margin-top: 1rem;
    }
}

.button_form{
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    font-family: $font;
    color: $black;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    border: none;
}